.main__dashboard {
    display: grid;
    grid-template-rows: 100vh;
    grid-template-columns: 300px auto;
    border: solid 1px var(--lightColor);
}

.main__dashboard--hidden {
    display: grid;
    grid-template-columns: auto;
    border: solid 1px var(--lightColor);
}