.main__dashboard {
    display: grid;
    grid-template-rows: 100vh;
    /* grid-template-rows: 169.8vh; */
    /* grid-template-columns: 300px auto; */
    grid-template-columns: 100px 1fr;
    border: solid 1px var(--lightColor);
}

.main__dashboard--hidden {
    display: grid;
    grid-template-columns: auto;
    border: solid 1px var(--lightColor);
}


/* MEDIA QUERYS */

@media all and (min-width: 425px) {
    .main__dashboard {
        grid-template-columns: 150px 1fr;
    }
}


/* @media all and (max-width: 473px) {
    .main__dashboard {
        grid-template-rows: 169.8vh;
    }
} */