.main__dashboard {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: 255px auto;
    grid-template-rows: 84vh;
    border: solid 1px var(--lightColor);
}

.main__dashboard--hidden {
    display: grid;
    grid-template-columns: auto;
    border: solid 1px var(--lightColor);
}