<div class="login__container">
    <header class="login__header">
        <figure class="login__figure">
            <img class="login__image" src="./assets/image/logo.png" alt="logoLogin">
        </figure>
        <p class="login__paragraph">UpTask - Administrador De Proyectos</p>
    </header>

    <main class="main__login">
        <h2 class="main__h2">Inicia Sesión</h2>

        <form action="#" class="main__form">
            <label for="#">Correo</label>
            <input type="text">

            <label for="#">Contraseña</label>
            <input type="text">

            <button type="submit">Iniciar Sesión</button>
        </form>

        <div class="main__remember">
            <form action="#">
                <input type="checkbox" name="#" id="#"> <span> Recuérdame</span>
            </form>
            <p class="main__password"><a href="#">Olvidé Mi Contraseña</a></p>
        </div>

        <div class="main__auth">
            <p><i class="fab fa-google"></i><a href="#"> Inicia Sesión Con Google</a></p>
            <p><i class="fab fa-twitter"></i><a href="#"> Inicia Sesión Con Twitter</a></p>
        </div>

        <p>No Tienes Ninguna Cuenta <a href="">Regístrate</a></p>
    </main>
</div>