<article class="article__auth--container animated fadeIn fast">
    <section class="auth__container">
        <header class="auth__header">
            <figure class="auth__figure">
                <img class="auth__image" src="./assets/image/logo.png" alt="logoauth">
            </figure>
            <p class="auth__paragraph">UpTask - Administrador De Proyectos</p>
        </header>

        <main>
            <article class="main__auth">
                <h2 class="main__h2">Inicia Sesión</h2>

                <form autocomplete="off" class="main__form" [formGroup]="formForma" (ngSubmit)="loginFormDataSaved()">
                    <div class="campo">
                        <input type="email" (change)="input($event)" (input)="validateInput('email')" formControlName="email">
                        <label>Correo Electrónico</label>
                        <small *ngIf="validateOne">Correo Electrónico No Válido</small>
                        <small *ngIf="validateTwo">Correo Electrónico Obligatorio</small>
                    </div>

                    <div class="campo">
                        <input type="password" (change)="input($event)" (input)="validateInput('password')" formControlName="password">
                        <label>Contraseña</label>
                        <small *ngIf="validateThree">Contraseña No Válida</small>
                        <small *ngIf="validateFour">Contraseña Obligatoria</small>
                    </div>

                    <button type="submit">Iniciar Sesión</button>
                </form>

                <div class="main__remember">
                    <form [formGroup]="formForma">
                        <input type="checkbox" formControlName="remember"> <span> Recuérdame</span>
                    </form>
                    <!-- <p class="main__password "><a>¿Olvidé Mi Contraseña?</a></p> -->
                </div>

                <div class="main__auth2 ">
                    <!-- <p id="googleBtn"><i class="fab fa-google "></i><a>Inicia Sesión Con Google</a></p> -->
                    <!-- <p><i class="fab fa-facebook "></i><a>Inicia Sesión Con Facebook</a></p>
                    <p><i class="fab fa-twitter "></i><a>Inicia Sesión Con Twitter</a></p> -->
                </div>

                <p class="register ">No Tienes Ninguna Cuenta <a [routerLink]="[ '/register'] ">Regístrate</a></p>
            </article>
        </main>
    </section>
</article>