<article class="article__auth--container">
    <section class="auth__container">
        <header class="auth__header">
            <figure class="auth__figure">
                <img class="auth__image" src="./assets/image/logo.png" alt="logoauth">
            </figure>
            <p class="auth__paragraph">UpTask - Administrador De Proyectos</p>
        </header>

        <main class="main__auth">
            <h2 class="main__h2">Inicia Sesión</h2>

            <form class="main__form" [formGroup]="formForma" (ngSubmit)="loginFormDataSaved()">
                <div class="campo">
                    <input type="email" (blur)="input($event)" (input)="validateInput('email')" formControlName="email">
                    <label>Correo Electrónico</label>
                    <small *ngIf="validateOne">Correo Electrónico No Válido</small>
                    <small *ngIf="validateTwo">Correo Electrónico Obligatorio</small>
                </div>

                <div class="campo">
                    <input type="password" (blur)="input($event)" (input)="validateInput('password')" formControlName="password">
                    <label>Contraseña</label>
                    <small *ngIf="validateThree">Contraseña No Válida</small>
                    <small *ngIf="validateFour">Contraseña Obligatoria</small>
                </div>

                <button type="submit">Iniciar Sesión</button>
            </form>

            <div class="main__remember">
                <form>
                    <input type="checkbox"> <span> Recuérdame</span>
                </form>
                <p class="main__password"><a>Olvidé Mi Contraseña</a></p>
            </div>

            <div class="main__auth2">
                <p><i class="fab fa-google"></i><a href="#"> Inicia Sesión Con Google</a></p>
                <p><i class="fab fa-twitter"></i><a href="#"> Inicia Sesión Con Twitter</a></p>
            </div>

            <p>No Tienes Ninguna Cuenta <a [routerLink]="['/register']">Regístrate</a></p>
        </main>
    </section>
</article>

<hr>

<pre>
    campo: {{formForma.get('password').valid}}
    Estado Del Formulario: {{formForma.valid}}
    Estatus Del Formulario: {{formForma.status}}
    Estatus Del Formulario: {{formForma.value | json }}
</pre>