<article class="article__form" id="article__form">
    <section class="section">
        <h2> Tareas - {{ titleProject[this.activatedRoute.snapshot.paramMap.get('indice')] }} </h2>

        <div class="section__project">
            <form autocomplete="off" class="section__form main__form">
                <input type="text">
                <!-- formControlName="name" -->
                <!-- [formGroup]="formForma" (ngSubmit)="projectFormDataSaved()" -->
                <!-- <small *ngIf="conditionalNameHTML">Minimo 6 Caracteres</small>
                <small *ngIf="requiredNameHTML">Nombre Projecto Obligatorio</small> -->
                <input type="submit" value="Crear Tarea">
            </form>

            <!-- <li *ngFor="let name of taskService.task.taskNames">
                <a>{{ name }}</a>
            </li> -->
        </div>
    </section>

    <section class="section__project section__task">
        <div class="section__form" *ngFor="let nameTask of taskService.task.taskNames">
            <p> {{ nameTask }} <span><i class="fas fa-trash-alt"></i> <i class="far fa-check-circle"></i></span>
            </p>
        </div>
    </section>
</article>