<article class="article__form" id="article__form">
    <section class="section">
        <h2> Tareas - {{ titleProject[indexProject] }} </h2>

        <div class="section__project">
            <form autocomplete="off" class="section__form main__form" [formGroup]="formForma" (ngSubmit)="taskFormDataSaved()">
                <input type="text" formControlName="name">
                <small *ngIf="conditionalNameHTML">Minimo 6 Caracteres</small>
                <small *ngIf="requiredNameHTML">Nombre Tarea Obligatoria</small>
                <input type="submit" value="Crear Tarea">
            </form>
        </div>
    </section>

    <section class="section__project section__task">
        <div class="section__form" *ngFor="let nameTask of taskNames; let i = index">
            <p> {{ nameTask }} <span> <i (click)="updateTask()" class="far fa-check-circle"></i> <i (click)="deleteTask(i)" class="fas fa-trash-alt"></i> </span> </p>
        </div>
    </section>

    <section class="section__project section__buttons">
        <div>
            <a (click)="updateProject()"><i class="far fa-edit"></i> Actualizar Proyecto</a>
        </div>

        <div>
            <a (click)="deleteProject()"><i class="fas fa-trash-alt"></i> Eliminar Proyecto</a>
        </div>
    </section>
</article>