.section__task {
    margin: 3rem 0;
}

.section__task div {
    padding: 2rem 0;
    text-align: center;
    border-bottom: none;
    background-color: var(--darkColor);
}

.section__task div:last-child {
    border-bottom: solid 2px var(--lightColor);
}

.section__task p {
    display: flex;
}