.links {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* margin-top: 2rem;
    margin-bottom: 1rem; */
    justify-content: center;
    align-items: center;
    margin-left: .4rem;
}

.link__all {
    padding: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.link__edit__button {
    color: #000000;
    background-color: #fdd835;
    margin-bottom: .5rem;
    width: 100%;
}

.link__delete__button {
    color: #ffffff;
    background-color: rgb(253, 0, 0);
    width: 100%;
}

.links a {
    font-size: 1.3rem;
    font-weight: 700;
    text-decoration: none;
}


/* MEDIA QUERIES */

@media all and (min-width: 480px) {
    .links {
        margin-bottom: .5rem;
    }
}

@media all and (min-width: 510px) {
    .links {
        margin-left: unset;
        margin-right: .5rem;
    }
}

@media all and (min-width: 768px) {
    .links {
        flex-direction: row;
    }
    .link__edit__button {
        width: unset;
        margin-bottom: 0;
        margin-right: 11.8rem;
    }
    .link__delete__button {
        width: unset;
    }
}