<div class="auth__container">
    <header class="auth__header">
        <figure class="auth__figure">
            <img class="auth__image" src="./assets/image/logo.png" alt="logoauth">
        </figure>
        <p class="auth__paragraph">UpTask - Administrador De Proyectos</p>
    </header>

    <main class="main__auth">
        <h2 class="main__h2">Crear Cuenta</h2>

        <form action="#" class="main__form">
            <label for="#">Correo</label>
            <input type="text">

            <label for="#">Contraseña</label>
            <input type="text">

            <button type="submit">Registrarse</button>
        </form>

        <div class="main__remember">
            <form action="#">
                <input type="checkbox" name="#" id="#"> <span> Recuérdame</span>
            </form>
            <p class="main__password"><a href="#">Iniciar Sesión</a></p>
        </div>

        <div class="main__auth2">
            <p><i class="fab fa-google"></i><a href="#"> Inicia Sesión Con Google</a></p>
            <p><i class="fab fa-twitter"></i><a href="#"> Inicia Sesión Con Twitter</a></p>
        </div>

        <p>No Tienes Ninguna Cuenta <a href="">Regístrate</a></p>
    </main>
</div>