<!-- Formulario Tarea (HIJO) -->
<app-new-task (tasksAgain)="tasksSecond($event)"></app-new-task>

<div class="listado-pendientes">
    <ul>
        <div *ngIf="template === 0">
            <p [ngStyle]="{'fontSize': '1.4rem'}">No Hay Tareas Pendientes</p>
        </div>
        <li *ngFor="let itemTask of tasks">
            <div>
                <p>{{ itemTask.task }}</p>
            </div>
            <div>
                <ng-container *ngIf="itemTask.state === 1">
                    <i (click)="taskUpdate($event, itemTask.id)" class="circule far fa-check-circle completo"></i>
                    <i (click)="taskDelete($event, itemTask.id)" class="fas fa-trash"></i>
                </ng-container>
                <ng-container *ngIf="itemTask.state === 0">
                    <i (click)="taskUpdate($event, itemTask.id)" class="circule far fa-check-circle"></i>
                    <i (click)="taskDelete($event, itemTask.id)" class="fas fa-trash"></i>
                </ng-container>
            </div>
        </li>
    </ul>
</div>