.header {
    padding: 0.2rem;
    border: solid 2px var(--lightColor);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.46);
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.46);
}

.header__container {
    display: grid;
    justify-items: center;
    grid-template-rows: 35px auto;
}

.header__figure--logo {
    display: flex;
    cursor: pointer;
    line-height: 40px;
}

.header__logo {
    width: 40px;
    height: 40px;
}

.header__paragraph {
    font-size: 1.1rem;
}

.header__figure {
    cursor: pointer;
    position: relative;
}

.header__image {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.header__ul {
    top: 0;
    right: 1.5rem;
    display: none;
    width: 5.5rem;
    list-style: none;
    position: absolute;
}

.header__figure:hover .header__ul {
    display: block;
}

.header__list {
    width: 100%;
    margin: .5rem 0;
}

.header__item {
    width: 100%;
    text-decoration: none;
}


/* MEDIA QUERYS GENERALS */

@media all and (min-width: 646px) {
    .header {
        padding: 0.4rem 1rem;
    }
    .header__container {
        justify-items: end;
        align-items: center;
        grid-template-rows: initial;
        grid-template-columns: repeat(auto-fit, minmax(302px, 1fr));
    }
    .header__figure--logo {
        justify-self: start;
        line-height: 50px;
    }
    .header__logo {
        width: 45px;
        height: 45px;
    }
}