<header class="header">
    <div class="header__container">
        <figure class="header__figure--logo">
            <img class="header__logo" src="./assets/image/logo.png" alt="logoImage">
            <p class="header__paragraph">UpTask - Administrador De Proyectos</p>
        </figure>

        <nav class="header__nav">
            <figure class="header__figure">
                <img class="header__image" src="./assets/image/profile.png" alt="imageProfile">
                <ul class="header__ul">
                    <li class="header__list"><a href="#" class="header__item">Perfil</a></li>
                    <li class="header__list"><a href="#" class="header__item">Proyectos</a></li>
                    <li class="header__list"><a href="#" class="header__item">Tareas</a></li>
                    <li class="header__list"><a href="#" class="header__item">Cerrar Sesion</a></li>
                </ul>
            </figure>
        </nav>
    </div>
</header>