<header class="header animated fadeIn fast">
    <div class="header__container">
        <a [routerLink]="['/dashboard']" class="header__figure--logo">
            <img class="header__logo" src="./assets/image/logo.png" alt="logoImage">
            <p class="header__paragraph">UpTask - Administrador De Proyectos</p>
        </a>

        <nav>
            <ul class="header__ul">
                <li (click)="logout()"><a class="header__item">Cerrar Sesion</a></li>
            </ul>
        </nav>
    </div>
</header>