.section {
    width: 100%;
    margin-top: 1rem;
    text-align: center;
}

.section h2 {
    font-size: 1rem;
    margin: 1rem 0 0.5rem 0;
}

.section__form {
    width: 85%;
    display: flex;
    margin: 0 auto;
    padding: 0.5rem;
    flex-direction: column;
    border: solid 2px var(--lightColor);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.46);
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.46);
}

input[type="text"] {
    border: none;
    outline: none;
    padding: 0.7rem;
    margin: 0 0 .5rem 0;
    border-radius: 15px;
    background-color: var(--darkColor);
}

input[type="submit"] {
    width: 106px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: var(--darkColor);
}

.article__form {
    display: grid;
    height: 100vh;
    grid-row-gap: 1rem;
    justify-items: center;
    grid-template-rows: 170px 1fr 1fr;
}

.main__form small {
    color: var(--redColor);
}


/* MEDIA QUERY GENERALS ASIDE HIDDEN */

@media all and (min-width: 768px) {
    .section h2 {
        font-size: 1.2rem;
    }
    .section__form {
        width: 80%;
    }
    .section__buttons {
        min-width: 80%;
    }
}

@media all and (min-width: 1024px) {
    .section__form {
        width: 540px;
    }
    .section__buttons {
        min-width: 540px;
    }
    input[type="text"] {
        padding: 0.8rem;
    }
    input[type="submit"] {
        width: 130px;
        padding: 0.8rem;
        font-size: 1.1rem;
        border-radius: 15px;
    }
}