.section {
    width: 100%;
    /* margin: 2rem 0; */
    margin-top: 1rem;
    text-align: center;
}

.section h2 {
    font-size: 1rem;
    /* margin-bottom: 1rem; */
    margin: 1rem 0 0.5rem 0;
}

.section__form {
    /* width: 93%; */
    width: 200px;
    display: flex;
    /* padding: 1rem; */
    padding: 0.5rem;
    margin: 0 auto;
    flex-direction: column;
    border: solid 2px var(--lightColor);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.46);
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.46);
}

input[type="text"] {
    border: none;
    outline: none;
    padding: 0.7rem;
    margin: 0 0 .5rem 0;
    border-radius: 15px;
    background-color: var(--darkColor);
}

input[type="submit"] {
    /* width: 124px;
    border: none;
    outline: none;
    padding: 1rem;
    cursor: pointer;
    border-radius: 20px;
    background-color: black; */
    width: 106px;
    border: none;
    outline: none;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--darkColor);
}

.article__form {
    /* display: grid;
    height: 100vh;
    grid-row-gap: 1rem;
    justify-items: center;
    /* grid-template-rows: 200px;
    grid-template-rows: 200px 340px 60px; */
    display: grid;
    height: 100vh;
    grid-row-gap: 1rem;
    justify-items: center;
    /* 340px */
    /* grid-template-rows: 170px 270px 50px 1fr; */
    grid-template-rows: 170px 1fr 1fr;
}

.main__form small {
    color: var(--redColor);
}


/* MEDIA QUERY GENERALS ASIDE HIDDEN */

@media all and (min-width: 375px) {
    .section__form {
        width: 85%;
    }
}

@media all and (min-width: 480px) {
    .section__form {
        width: 80%;
    }
    input[type="submit"] {
        width: 150px;
    }
}

@media all and (min-width: 646px) {
    .article__form {
        /* height: 76.4vh; */
    }
    .section {
        width: 646px;
    }
    input[type="submit"] {
        width: 200px;
    }
}

@media all and (min-width: 1024px) {
    .section__form {
        width: 94%;
    }
}