<div class="landing-two">
    <h1 class="signin__title">Iniciar Sesion En UpTask</h1>

    <div class="container__signin">
        <form (submit)="dataUserSignin($event)">
            <input [(ngModel)]="user.email" type="email" name="email" id="email" placeholder="Email">
            <input [(ngModel)]="user.password" type="password" name="password" id="password" placeholder="Contraseña">
            <div class="signin__div">
                <input type="submit" value="Iniciar Sesion">
                <a [routerLink]="['/signUp']">Crear Cuenta Uptask</a>
            </div>
        </form>
    </div>
</div>