.aside__global {
    display: flex;
}

.aside__burger {
    margin: .5rem 0 0 .5rem;
}

.aside__burger i {
    cursor: pointer;
    font-size: 1rem;
}

.aside {
    width: 105px;
    height: 100vh;
    padding: 0 0.3rem;
    text-align: center;
    border-left: solid 2px var(--lightColor);
    border-right: solid 2px var(--lightColor);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.46);
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.46);
}

.aside__hidden {
    display: none;
}

.aside__bottom {
    width: 85px;
    border: none;
    outline: none;
    margin: 0 auto;
    cursor: pointer;
    text-align: center;
    padding: 1rem .5rem;
    border-radius: 12px;
    margin: 2.5rem auto 4rem;
    text-transform: uppercase;
    background-color: var(--darkColor);
}

.aside__projects h1 {
    font-size: 1.3rem;
    text-align: center;
    color: var(--darkColor);
}

.aside__list li {
    list-style: none;
}

.aside__list p {
    margin-bottom: 0.5rem;
}

.aside__list p li a {
    cursor: pointer;
    transition: all 1s ease;
}

.aside__list p li a:hover {
    color: black;
}


/* MEDIA QUERYS */

@media all and (min-width: 425px) {
    .aside {
        width: 130px;
    }
    .aside__bottom {
        width: 114px;
    }
    .aside__projects h1 {
        font-size: 1.5rem;
    }
    .aside__list p li a {
        font-size: 1.1rem;
    }
}

@media all and (min-width: 768px) {
    .aside {
        width: 230px;
    }
    .aside__bottom {
        width: 200px;
        border-radius: 20px;
        padding: 1.5rem .5rem;
    }
    .aside__burger i {
        font-size: 1.5rem;
    }
}