<div class="aside__global animated fadeIn fast">
    <aside class="aside" id="aside">
        <div class="aside__bottom">
            <a [routerLink]="[ '/dashboard/projects']"><i class="fas fa-plus"></i> Nuevo Proyecto</a>
        </div>

        <section class="aside__projects">
            <h1>Proyectos</h1>

            <section class="aside__list">
                <p *ngFor="let name of projectNames; let i = index ">
                    <li>
                        <a (click)="showProject(i)">{{ name }}</a></li>
                </p>
            </section>
        </section>
    </aside>

    <p class="aside__burger"><i class="fas fa-bars" (click)="hiddenAside()"></i></p>
</div>