<article class="article__form animated fadeIn fast" id="article__form">
    <section class="section">
        <h2>Nuevo Proyecto</h2>

        <div class="section__project">
            <form autocomplete="off" class="section__form main__form" [formGroup]="formForma" (ngSubmit)="projectFormDataSaved()">
                <input type="text" formControlName="name">
                <small *ngIf="conditionalNameHTML">Minimo 6 Caracteres</small>
                <small *ngIf="requiredNameHTML">Nombre Projecto Obligatorio</small>
                <input type="submit" value="Crear Proyecto">
            </form>
        </div>
    </section>
</article>