.nav {
    display: flex;
    color: #ffffff;
    padding: .5rem .5rem;
    align-items: center;
    background-color: #455A64;
    justify-content: space-between;
}

.nav h2 {
    text-align: center;
    font-size: 1.4rem;
}

.nav-item {
    list-style: none;
    width: 144px;
}

.nav-item a {
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.4rem;
}


/* Media Queries NavBar */

@media all and (min-width: 320px) {
    header {
        width: 506px;
    }
}

@media all and (min-width: 508px) {
    header {
        width: auto;
    }
}

@media all and (min-width: 769px) {
    .nav {
        padding: 1rem 1rem;
    }
    .nav-item {
        width: auto;
    }
}