<div class="landing-two">
    <h1 class="signup__title">Crea Una Cuenta En UpTask</h1>

    <div class="container__signup">
        <form (submit)="dataUserSignUp($event)">
            <input [(ngModel)]="user.name" type="text" name="name" placeholder="Nombre">
            <input [(ngModel)]="user.email" type="email" name="email" placeholder="Email">
            <input [(ngModel)]="user.password" type="password" name="password" placeholder="Contraseña">
            <div class="signup__div">
                <input type="submit" value="Crear Cuenta">
                <a routerLink="/signIn">Iniciar Sesion</a>
            </div>
        </form>
    </div>
</div>