.signup__title {
    margin-top: 0;
    color: #ffffff;
    text-align: center;
}

.container__signup {
    padding: .5rem;
    border-radius: 5px;
    background-color: white;
    width: 100%;
}

.container__signup input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    height: 3rem;
    outline: none;
    color: black;
    padding-left: 1rem;
    border-radius: 5rem;
    margin-bottom: .5rem;
    border: 1px solid #455a64;
}

.container__signup input[type="submit"] {
    padding: 1rem;
    cursor: pointer;
    color: #000000;
    font-weight: 700;
    font-size: 1.2rem;
    margin: 1rem 0 0 0;
    border-radius: 5px;
    background-color: #fdd835;
}

.signup__div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signup__div a {
    color: #000000;
    font-size: 1.2rem;
    text-decoration: none;
}


/* MEDIA QUERIES */

@media all and (min-width: 420px) {
    .container__signup {
        padding: 1rem;
    }
    .container__signup a {
        font-size: 1.5rem;
    }
}

@media all and (min-width: 600px) {
    .container__signup {
        width: 60%;
    }
}

@media all and (min-width: 900px) {
    .container__signup {
        width: 50%;
    }
}