/* You can add global styles to this file, and also import other style files */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.landing-one {
    display: grid;
    grid-template-rows: 87.6vh;
    grid-template-columns: 300px 1fr;
}

.landing-two {
    display: flex;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #455A64;
}