.article__auth--container {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.auth__container {
    display: grid;
    align-items: center;
    padding: 0.5rem 1rem;
    justify-items: center;
    grid-template-rows: 3.5rem auto;
}

.auth__header {
    display: flex;
    align-items: center;
}

.auth__image {
    width: 50px;
    height: 50px;
}

.auth__paragraph {
    font-size: 1rem;
}

.main__auth {
    width: 300px;
    min-height: 587px;
    border-radius: 40px;
    padding: 3rem 1.5rem 0;
    border: solid 2px var(--lightColor);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.46);
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.46);
}

.main__h2 {
    margin-bottom: 3rem;
}

.main__form {
    display: flex;
    margin-bottom: 1rem;
    flex-direction: column;
}

.main__form input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    border: none;
    outline: none;
    margin-bottom: .3rem;
    padding-left: .5rem;
    background-color: inherit;
    border-bottom: 2px solid var(--lightColor);
}

.campo {
    display: inherit;
    position: relative;
    margin-bottom: 2rem;
    flex-direction: column;
}

.main__form label {
    top: -0.7rem;
    left: .5rem;
    opacity: .6;
    position: absolute;
    transition: font-size .2s ease, top .2s ease;
}

.label__finally,
.main__form input[type="text"]:focus+label,
input[type="email"]:focus+label,
input[type="password"]:focus+label {
    top: -0.7rem;
    font-size: .5rem;
}


/* Interactive */

.borderInput {
    border-bottom: 2px solid var(--redColor) !important;
}

.main__form small {
    color: var(--redColor);
}

.main__form button[type="submit"] {
    border: none;
    outline: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 40px;
    background-color: var(--botonColor);
}

.main__remember {
    display: flex;
    margin-bottom: 2.5rem;
    justify-content: space-between;
}

.main__remember a:hover {
    cursor: pointer;
    text-decoration-line: underline;
}

.main__auth2 {
    margin-bottom: 3rem;
}

.main__auth2 p {
    margin-bottom: 1rem;
}

.main__auth2 i {
    font-size: 1.5rem;
}

.main__auth2 p a {
    margin-left: .5rem;
}

.main__auth2 p a:hover {
    cursor: pointer;
    text-decoration-line: underline;
}

.register a:hover {
    cursor: pointer;
    text-decoration-line: underline;
}


/* MEDIA QUERYS GENERALS */

@media all and (min-width: 365px) {
    .auth__paragraph {
        font-size: 1.2rem;
    }
}

@media all and (min-width: 400px) {
    .auth__paragraph {
        font-size: 1.3rem;
    }
}

@media all and (min-width: 768px) {
    .auth__image {
        width: 55px;
        height: 55px;
    }
    .auth__paragraph {
        font-size: 1.5rem;
    }
}

@media all and (min-width: 1024px) {
    .main__auth {
        min-height: 610px;
        padding: 3.5rem 1.5rem 0;
    }
}