.auth__container {
    display: grid;
    align-items: center;
    padding: 0.5rem 1rem;
    justify-items: center;
    grid-template-rows: 3.5rem auto;
}

.auth__header {
    display: flex;
    align-items: center;
    justify-self: start;
}

.auth__image {
    width: 60px;
    height: 60px;
}

.auth__paragraph {
    font-size: 1.2rem;
}

.main__auth {
    width: 288px;
    min-height: 660px;
    border-radius: 40px;
    padding: 4.5rem 1rem 2rem;
    border: solid 2px var(--lightColor);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.46);
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.46);
}

.main__h2 {
    margin-bottom: 4rem;
}

.main__form {
    display: flex;
    margin-bottom: 1rem;
    flex-direction: column;
}

.main__form input[type="text"] {
    width: 100%;
    border: none;
    outline: none;
    margin-bottom: 2rem;
    padding-left: .5rem;
    background-color: inherit;
    border-bottom: 2px solid var(--lightColor);
}

.campo {
    display: inherit;
    position: relative;
}

.main__form label {
    top: -0.7rem;
    left: .5rem;
    opacity: .6;
    position: absolute;
    transition: font-size .2s ease, top .2s ease;
}

.label__finally,
.main__form input[type="text"]:focus+label {
    top: -0.7rem;
    font-size: .5rem;
}

.main__form button[type="submit"] {
    border: none;
    outline: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 40px;
    background-color: var(--botonColor);
}

.main__remember {
    display: flex;
    margin-bottom: 3rem;
    justify-content: space-between;
}

.main__auth2 {
    margin-bottom: 4rem;
}

.main__auth2 p {
    margin-bottom: 1rem;
}

.main__auth2 i {
    font-size: 1.5rem;
}

.main__auth2 p a {
    margin-left: .5rem;
}


/* .fab.fa-google {
    font-size: 1.5rem;
}

.fab.fa-twitter {} */


/* MEDIA QUERYS GENERALS */

@media all and (min-width: 335px) {
    .main__auth {
        width: 306px;
    }
}

@media all and (min-width: 365px) {
    .auth__paragraph {
        font-size: 1.2rem;
    }
    .main__auth {
        width: 339px;
        padding: 4rem 3rem 3rem;
    }
}

@media all and (min-width: 400px) {
    .auth__paragraph {
        font-size: 1.3rem;
    }
}

@media all and (min-width: 768px) {
    .auth__image {
        width: 65px;
        height: 65px;
    }
    .auth__paragraph {
        font-size: 1.5rem;
    }
    .main__auth {
        padding: 4rem 3rem 3rem;
    }
}