.footer {
    color: #ffffff;
    padding: .5rem 1rem;
    background-color: #455A64;
}

.footer p {
    text-align: center;
    font-size: 1rem;
}

@media all and (min-width: 350px) {
    .footer p {
        font-size: 1.1rem;
    }
}

@media all and (min-width: 768px) {
    .footer p {
        font-size: 1.2rem;
    }
}